.read-board-wrrap{
    width: 50vw;
  }
.read-section{
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.read-board-type{
  font-size: 0.8em;
  font-weight: 600;
}
.read-board-counts{
  font-size: 0.77em;
  font-weight: 600;
  margin-top: 2px;
}

.read-body{
  width: 100%;
}
.read-header{
  width: 100%;
  /* display: flex;
  flex-flow: column; */
}
.r_h_grid_1{
  width: 100%;
  min-height: 50px;
  max-height: 70px;
  display: flex;
  justify-content: center;
}
.read-title{
  font-size: 30px;
}
.r_h_grid_2{
  height: 20px;
  display: flex;
  justify-content: space-between;
  padding : 0 5px;
}
.temp-div_1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temp1_src1{
  min-width: 180px;
}
.temp1_src2{
  min-width: 140px;
}