
.create-board-wrrap {
    width: 100%;
  }
  .c-wrrap{
    min-width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .create-contents{
    width: 70vw;
    height: 50vw;
    border: 1px solid #000000;
  } 